<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgg.twdinspection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".common.application.TWDApplication"
        android:allowBackup="true"
        android:icon="@drawable/ctw_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ctw_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".engineering_works.ui.EngSyncActivity"></activity>
        <activity
            android:name=".engineering_works.ui.UploadEngPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.petrolpump.PetrolPumpSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.lpg.LPGSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.petrolpump.PetrolPumpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".engineering_works.ui.InspectionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".engineering_works.ui.EngineeringDashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".gcc.reports.ui.PUnitInspRepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.reports.ui.MfpGodownInspRepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.reports.ui.DrDepotInspRepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.reports.ui.DrGodownInspRepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.reports.ui.GCCReportsDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.CocurricularStudAchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.CallHealthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schemes.ui.BenDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.CoCurricularActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".schemes.ui.BeneficiaryReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Light_AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".schemes.ui.SchemesDMVActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.MedicalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inspection.ui.PlantsInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".inspection.ui.GeneralCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.EntitlementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.DietIssuesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Light_AppTheme" />
        <activity
            android:name=".inspection.ui.InfraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.AcademicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.reports.ui.ViewPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.RegistersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.MedicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.DMVSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.UploadedPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.StaffAttendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.StudentsAttendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.GeneralInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.InstMenuMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schemes.ui.SchemeSyncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.SchoolSyncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.ViewMedicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.gcc.GCCDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drdepot.DRDepotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drgodown.DRGodownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.mfpgodown.MFPGodownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.punit.PUnitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.gcc.GCCPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.LocBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drdepot.DRDepotFindingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.QuitAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.gcc.GCCSyncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drgodown.DRGODownSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drdepot.DRDepotSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.mfpgodown.MFPGoDownSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.punit.PUnitSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drgodown.DRGodownFindingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.mfpgodown.MFPGodownFindingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.punit.PUnitsFindingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.reports.ui.GCCReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Light_AppTheme" />
        <activity
            android:name=".gcc.reports.ui.ReportStockDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.InspectionReportsDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Light_AppTheme" />
        <activity
            android:name=".inspection.reports.ui.InstReportsMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schemes.reports.ui.SchemesReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Light_AppTheme" />
        <activity
            android:name=".schemes.reports.ui.SchemeReportDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportAcademicGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportStudentsAttendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportsGeneralInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportsDietIssuesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportsInfraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportsAcademicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportCoCarricularActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportsEntitlementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportMedicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportStaffAttendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportGeneralCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportsRegistersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.reports.ui.ReportPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.AcademicGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.petrolpump.PetrolPumpFindingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.petrolpump.PetrolPumpPhotoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".gcc.ui.lpg.LPGActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>