<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.twdinspection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.application.TWDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".gcc.ui.reports.gcc.PUnitInspRepActivity"></activity>
        <activity android:name=".gcc.ui.reports.gcc.MfpGodownInspRepActivity" />
        <activity android:name=".gcc.ui.reports.gcc.DrDepotInspRepActivity" />
        <activity android:name=".gcc.ui.reports.gcc.DrGodownInspRepActivity" />
        <activity android:name=".gcc.ui.reports.gcc.GCCReportsDashboard" />
        <activity android:name=".inspection.ui.ReportActivity" />
        <activity
            android:name=".inspection.ui.CocurricularStudAchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.CallHealthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schemes.ui.BenDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.CoCurricularActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".schemes.ui.BeneficiaryReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Light_AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".schemes.ui.SchemesDMVActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.MedicalDetailsActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".inspection.ui.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Light_AppTheme" />
        <activity
            android:name=".inspection.ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inspection.ui.PlantsInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".inspection.ui.GeneralCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.EntitlementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.DietIssuesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.InfraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.AcademicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.RegistersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.MedicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.DMVSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.UploadedPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.MPINActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.GenerateMPINActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.StaffAttendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.StudentsAttendance_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.GeneralInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.InstMenuMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schemes.ui.SchemeSyncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.SchoolSyncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.ViewMedicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.gcc.GCCDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drdepot.DRDepotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drgodown.DRGodownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.mfpgodown.MFPGodownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.punit.PUnitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.GCCPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.LocBaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drdepot.DRDepotFindingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.ui.QuitAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.GCCSyncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drgodown.DRGODownSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drdepot.DRDepotSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.mfpgodown.MFPGoDownSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.punit.PUnitSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.drgodown.DRGodownFindingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.mfpgodown.MFPGodownFindingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.punit.PUnitsFindingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.reports.gcc.GCCReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gcc.ui.reports.gcc.ReportStockDetailsActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.twdinspection.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>